html
	font 62.5% 'Helvetica Neue', Arial, sans
	position relative

body
	color #333
	font-size 1.2rem
	
h1
	font-weight normal
h2
	font-size 2.5rem
	font-weight normal
	margin 10px 0
h3
	font-size 2.5rem
	font-weight normal
h4
	font-size 2.5rem
	font-weight normal

p
	margin 20px 0

.property > section 
	margin 0 20px
	
@font-face
	font-family IcoMoon
	src url('../fonts/IcoMoon-Free.ttf')
	
@media screen and (min-width: 600px)
	body
		font-size 1.6rem