nav
	background rgba(255, 255, 255, 0.8)
	border-bottom 1px solid #999
	left 0
	position absolute
	right 0
	top 0
	z-index 2

	li
		display inline-block
	
	a
		color #333
		display block
		padding 10px
		text-decoration none
		&:hover
			text-decoration underline