nav
	background rgba(255, 255, 255, 0.8)
	border-bottom 1px solid #999
	box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
	left 0
	position absolute
	right 0
	top 0
	z-index 2

	li
		display inline-block
	.accommodations
		display none
	
	a
		color #333
		display block
		padding 10px 0 10px 10px
		text-decoration none
		&:hover
			text-decoration underline

@media screen and (min-width: 600px)
	nav .accommodations
		display inline-block