@import 'nib'

.property-rooms 
	margin 20px 0 20px

	select
		box-sizing border-box
		font-size 1.6rem
		margin 10px 0 20px
		width 100%
	
	.social
		position relative
		margin 20px 0 30px 30px

		&:before
			content "\ea82"
			display inline-block
			font 1.6rem IcoMoon
			left -30px
			margin -8px 0 0
			position absolute
			top 50%
	
	h3
		margin 0 0 0 40px
		position relative
		
		&:before
			content "\e9e0"
			display inline-block
			font 3.2rem IcoMoon
			left -40px
			margin -16px 0 0
			position absolute
			top 50%
			
		span
			display block
			font-size 1.6rem
	
	ul
		column-count 2
		list-style none
		margin 20px 0 0
		padding 0
		li
			display block
			margin 0 0 10px
			
			&:before
				content "\ea10"
				display inline-block
				font 1.2rem IcoMoon
				margin 0 5px 0 0