.property
	& > div
		position relative

.property-name
	backface-visibility hidden
	bottom 30px
	color #FFF
	font-size	2.5rem
	left 20px
	position absolute
	text-shadow 1px 1px 2px rgba(0, 0, 0, 0.8)
	z-index	2

	p
		font-size 1.6rem
		margin 0

#slides
	display none
	position relative
	z-index 0

.slidesjs-navigation,
.slidesjs-pagination
	display none